<p>
  <b>Name:</b>
  <%=h @task.name %>
</p>

<p>
  <b>Notes:</b>
  <%=h @task.notes %>
</p>

<p>
  <b>Due:</b>
  <%=h @task.due %>
</p>

<p>
  <b>Completed:</b>
  <%=h @task.completed %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
