<h1>Listing contacts</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Home phone</th>
    <th>Mobile phone</th>
    <th>Work phone</th>
    <th>Skype</th>
    <th>Facebook</th>
    <th>Twitter</th>
    <th>Blog</th>
    <th>Notes</th>
  </tr>

<% for contact in @contacts %>
  <tr>
    <td><%=h contact.first_name %></td>
    <td><%=h contact.last_name %></td>
    <td><%=h contact.email %></td>
    <td><%=h contact.home_phone %></td>
    <td><%=h contact.mobile_phone %></td>
    <td><%=h contact.work_phone %></td>
    <td><%=h contact.skype %></td>
    <td><%=h contact.facebook %></td>
    <td><%=h contact.twitter %></td>
    <td><%=h contact.blog %></td>
    <td><%=h contact.notes %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contact', new_contact_path %>
