<p>
  <b>First name:</b>
  <%=h @contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @contact.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @contact.email %>
</p>

<p>
  <b>Home phone:</b>
  <%=h @contact.home_phone %>
</p>

<p>
  <b>Mobile phone:</b>
  <%=h @contact.mobile_phone %>
</p>

<p>
  <b>Work phone:</b>
  <%=h @contact.work_phone %>
</p>

<p>
  <b>Skype:</b>
  <%=h @contact.skype %>
</p>

<p>
  <b>Facebook:</b>
  <%=h @contact.facebook %>
</p>

<p>
  <b>Twitter:</b>
  <%=h @contact.twitter %>
</p>

<p>
  <b>Blog:</b>
  <%=h @contact.blog %>
</p>

<p>
  <b>Notes:</b>
  <%=h @contact.notes %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
